/* style.css */

body {
    align-items: center;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #191970;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav {
    background: #2e2ea4;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

p {
    text-align: center;
    align-items: center;
    font-size: 1rem;
    margin: 20px 0;
}

ol{
    text-align: center;
    list-style: none;
    padding: 0%;
}

ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

ul li {
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

h2, h3 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

img {

    margin-left: 29%;
    align-items: center;
    margin-top: 10px;
    display: block;
    max-width: 100%;
    height: auto;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 20px;
}

footer a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}
